@import "../Header/Header.css";

* {
    padding: 0;
    margin: 0;
  }
  
  body{
    margin: 0;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
  }
  
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 15px;
    border-radius: 10px;
    height: 525px;
  }
  
  .content {
    padding: 20px 0;
  }
  
.search-panel {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.main {
  
}
  