.search-form {
    display: flex;
    width: 400px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
}

.search-form input[type="text"]  {
    width: 100%;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    color: #00B4CC;
    outline: none;
}

.search-form input[type="submit"] {
    min-width: 60px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 14px;
}